<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content="{{ eleventy.generator }}">
		<title>{{ title }}</title>
		{% set css %}
		{% include "style.css" %}
		{% endset %}
		<style>
			{{css | cssmin | safe}}
		</style>
		{% include "partials/meta.njk" %}
	</head>
	<body>
		{% include "partials/navigation.njk" %}
		<main tabindex="-1" id="main-content">{{ content | safe }}</main>
	</body>
</html>