---
layout: layouts/page.njk
---

<div class="bookContainer">
  <nav class="sidebar">
    <ul class="display-flex flex-wrap padding-0 margin-0 flex-column-desktop">
      {% for item in bookshelfNavigation.items %}
        <li class="list-style-none">
          <a href={{ item.url }}>{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div>
    {% include "partials/bookFilters.njk" %}
    {% for years in books %}
      {% set isFirst = loop.first %}
      {% include "partials/booksByYear.njk" %}
    {% endfor %}
  </div>
</div>
<script>
  {% include "bookshelf.js" %}</script>