---
layout: layouts/page.njk
---
<div class="bookContainer">
  <nav class="sidebar">
    <ul>
      {% for item in bookshelfNavigation.items %}
        <li>
          <a href={{item.url}}>{{item.text}}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div>
    {% include "partials/bookFilters.njk" %}
    {% for years in items %}
      {% include "partials/booksByYear.njk" %}
    {% endfor %}
  </div>
</div>
<script>
  {% include "bookshelf.js" %}
</script>