body, header {
  max-width: 500px;
  margin: 0 auto;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #666666;
  padding: 3em;
  transition: padding 0.2s ease;
}

h1, h2 {
  font-family: Garamond, Georgia, Palatino, Serif;
  font-weight: normal;
}

h1 {
  margin: 0;
}

a {
  color: mediumseagreen;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: seagreen;
}

p {
  line-height: 1.5;
}

li {
  list-style-type: circle;
}

.container {
  display: flex;
}

.example {
  width: 150px;
  height: 150px;
  border: 1px solid #888888;
}

.example:not(:last-child) {
  margin-right: 25px;
}

img {
  width: 100%;
}

@media (max-width: 600px) {
  body {
    padding: 2em;
  }

  .container {
    display: block;
  }

  .example:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
