{% set hasImage = item.image.href %}
{% set hasLink = item.link %}
<article class="work">
<h2>{{ item.name }}</h2>
<div class="wrapper">
{% if hasImage %} <a href="{{ item.image.href }}">{% endif %}
<img alt="{{ item.image.alt }}" src="{{ item.image.src }}"/>
{% if hasImage %} </a>{% endif %}
<div class="text">
<p>{{ item.description }}{% if hasLink%}{{item.link | safe }}{% endif %}</p>
<p>{{ item.detail }}</p>
<ul>
{% for item in item.details %}
<li>{{ item }}</li>
{% endfor %}
</ul>
</div>
</div>
</article>
