{% set hasImageLink = item.image.href %}
{% set hasLink = item.link %}
<article class="work padding-2 margin-top-2">
<h2>{{ item.name }}</h2>
<div class="display-flex flex-column flex-row-desktop">
{% if hasImageLink %}
<a href="{{ item.image.href }}">
<img alt="{{ item.image.alt }}" src="{{ item.image.src }}"/>
</a>
{% else %}
<img alt="{{ item.image.alt }}" src="{{ item.image.src }}"/>
{% endif %}
<div class="text display-flex flex-column">
<p>{{ item.description }}
{% if hasLink%}{{ item.link | safe }}
{% endif %}
</p>
<p>{{ item.detail }}</p>
<ul>
{% for item in item.details %}
<li>{{ item }}</li>
{% endfor %}
</ul>
</div>
</div>
</article>