<link rel="apple-touch-icon" href="{{ '/assets/apple-touch-icon.png' | url }}"/>
<link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | url }}"/>

<meta name="author" content="Kim Niedermaier">
<meta name="description" content="Kim's corner of the internet, a garden to tend, and a place for exploration">
<meta itemprop="name" content="Kim Niedermaier">