<a class="skip-link button" href="#main-content">Skip to content</a>
<header role="banner" class="display-flex flex-wrap flex-justify flex-align-center padding-2">
  <a href="/" aria-label="{{ site.name }} | Home" {{ helpers.getLinkActiveState("/", page.url) | safe }}>{{ site.name }}</a>
  {% include "partials/navigationLinks.njk" %}
</header>