<a class="skip-link button" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
  <a href="/" aria-label="{{ site.name }} | Home" {{helpers.getLinkActiveState("/", page.url) | safe }}>{{ site.name }}</a>
  <nav aria-label="Primary navigaton" class="primary">
    <ul>
      {% for item in navigation.links %}
        <li>
          <a href="{{ item.url }}"{{helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>